<div class="loading" *ngIf="loading">
	<div class="spinner"></div>
</div>
<div *ngIf="!loading" cdkScrollable (scroll)="onWindowScroll($event)">
	<app-header></app-header>
	<div class="section">
		<ng-container *ngIf="!contactRouting">
			<app-home></app-home>
			<app-about></app-about>
			<app-experience></app-experience>
			<app-skills></app-skills>
			<app-education></app-education>
		</ng-container>
		<ng-container *ngIf="contactRouting">
			<app-contact></app-contact>
		</ng-container>
		
		
	</div>
	<app-footer></app-footer>
</div>
