<div class="inner-section mat" id="contact">
	<div class="container-mat">
		<div class="inner__top">
			<span class="title">Contact</span>
		</div>
		<div class="inner__bottom">
			<div class="formContainer">
				<form [formGroup]="contactForm">
					<table>
					
						<tbody>
							<colgroup>
								<col>
								<col>
							</colgroup>
							<tr>
								<td>name</td>
								<td>email</td>
							</tr>
							<tr>
								<td colspan="2">message</td>
							</tr>
							<tr>
								<td colspan="2">my name</td>
							</tr>
							<tr>
								<td colspan="2">my email</td>
							</tr>
							<tr>
								<td colspan="2"><button type="submit" [disabled]="!contactForm.valid" (click)="submit()">Send</button></td>
							</tr>
						</tbody>
					</table>
					
				</form>
			</div>
		</div>
	</div>
</div>