<div class="inner-section" id="about">
	<div class="container">
		<div class="inner__top">
			<span class="title">Hey??</span>
		</div>
		<div class="inner__bottom">
			<div class="area__left">
				<div class="content-box__list divide">
					<div class="list__row">
						<div class="list__row--left">
							<span class="sub-title">EMAIL :</span>
						</div>
						<div class="list__row--right">
							<span>yoozidev@gmail.com</span>
						</div>
					</div>
					<div class="list__row">
						<div class="list__row--left">
							<span class="sub-title">MOBILE NO :</span>
						</div>
						<div class="list__row--right">
              <span>+1 647-894-0938!!</span>
						</div>
					</div>
					<div class="list__row">
						<div class="list__row--left">
							<span class="sub-title">ADDRESS :</span>
						</div>
						<div class="list__row--right">
							<span>Samsung Apt, Dohwa-gil, Mapo-gu, Seoul, Republic of Korea</span>
						</div>
					</div>
					<div class="list__row">
						<div class="list__row--left">
							<span class="sub-title">LANGUAGE :</span>
						</div>
						<div class="list__row--right">
							<span>Korean, English</span>
						</div>
					</div>
				</div>
			</div>
			<div class="area__right">
				<div class="content-box__common">
					<!-- <div class="top">yoozi</div> -->
					<div class="bottom">
						<div class="temp">
							I'm a positive person
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>