<div class="inner-section" id="home">
	<div class="container">
		<div class="inner__bottom align-center">
			<div class="area__left">
				<div class="content-box__common">
					<div class="bottom">
						<div class="temp">
							<img src="assets/images/profile.png" alt="yoozi" id="profile">
						</div>
					</div>
				</div>
			</div>
			<div class="area__right margin-left-size-m">
				<div class="content-box__list">
					<div class="list__row accent">
						<div class="list__row--left">
							<!-- <span class="main-title">YOOJI CHUNG</span> -->
							<p class="main-title">
								const Info = &#123;
								<br>&nbsp;&nbsp;&nbsp;&nbsp;name: 'YOOJI CHUNG', 
								<br>&nbsp;&nbsp;&nbsp;&nbsp;job: Web Developer'
								<br>&#125;
							</p>
						</div>
					</div>
					<div class="list__row">
						<div class="list__row--left">
							<!-- <span class="main-title">FrontEnd Web Developer</span> -->
						</div>
					</div>
					<div class="list__row">
						<div class="list__row--left">
							<div class="rectangle__botton--normal">
								<button mat-raised-button matTooltip="Detail About Me" [matTooltipPosition]="'below'">
									<span>download CV</span>
								</button>
							</div>
						</div>
						<!-- <span>icon</span>
						<div class="list__row--right"></div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>