
/*
 * CSS Base v0.1.3 [License-Free, Stability NOT Guaranteed]
 * - Resets Browser Default CSS
 * - Normalizes Form Element Default Style
 * - Sets Device-Depended Safe Fonts
 * - Supports Modern Browsers and IE8+
 ******************************************************************************
 * REFERENCES:
 * Eric Meyer (v2.0; 20110126; No License)
 * - http://meyerweb.com/eric/tools/css/reset/
 * normalize.css (v4.1.1; MIT License)
 * - http://github.com/necolas/normalize.css
 */

/* elements general */
a, abbr, address, applet, article, aside, audio, b, big, blockquote, body,
button, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3,
h4, h5, h6, header, hr, html, i, iframe, img, input, ins, kbd, label, legend,
li, main, mark, menu, nav, object, ol, optgroup, output, p, pre, progress, q,
ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup,
svg, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var,
video {
	vertical-align: baseline;
	box-sizing: content-box;
	padding: 0;
	border: 0;
	margin: 0;
	overflow: visible;
	background: transparent;
	/*color: #222222;*/
	font: normal normal 100%/130% NanumSquare, Arial, sans-serif;
	text-decoration: none;
	text-shadow: none;
	outline: none;
  -webkit-print-color-adjust: exact;
}

/* additional display */
article, aside, details, dialog, figcaption, figure, footer, header, main,
menu, nav, section, summary, svg {
	display: block;
}
audio, canvas, progress, video {
	display: inline-block;
}
[hidden], template {
	display: none !important;
}

/* decoration */
html {
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}
html, body {
	font-size: 14px;
	color:#18191f;
	word-break: keep-all;
  -webkit-font-smoothing: antialiased;
}
abbr[title] {
	border-bottom: none;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
b, strong {
	font-weight: inherit;
}
b, strong {
	font-weight: bolder;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, b:after {
	content: none;
}
code, kbd, pre, samp {
	font-family: Consolas, "Lucida Console", monospace, "Courier New";
}
hr {height: 1px;background-color:#ccc;margin: 20px 0;}
img {
	border-style: none;
	max-width: 100%;
	font-size:1rem;
}
ol, ul {
	list-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
table {
	border-spacing: 0;
}
table caption {font-size: 1rem;line-height: 0 !important;text-align: left !important;text-indent: -99999px !important;white-space: nowrap !important;}
table, th, td {
	/*border-collapse: collapse;*/
}
/* user interface */
a, button, input, option, select, textarea,
[type=checkbox] + label, [type=radio] + label {
	box-sizing: border-box;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
button > * {pointer-events:none;}
textarea, [type=email], [type=number], [type=password], [type=search],
[type=tel], [type=text], [type=url] {
	cursor: text;
}
optgroup, [type=date], [type=datetime], [type="datetime-local"],
[type=month], [type=range], [type=time], [type=week]  {
	cursor: default;
}
button:disabled, input:disabled, option:disabled, select:disabled,
textarea:disabled {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {
	box-sizing: content-box;
	-webkit-text-decoration-skip: objects;
}
button:active {
	outline: none !important;
}
button > * {
	position: relative;
}
button, input, select, textarea {
	border: 1px solid #ccc;
}
button, select {
	text-transform: none;
}
button, [type=button], html [type=button], [type=reset], [type=submit] {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: auto;
}
[type=number], [type=search] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: auto;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
[type=search] {
	outline-offset: -2px;
}
optgroup {
	font-weight: bold;
}
select, textarea {
	overflow: auto;
}
textarea {
	resize: none;
}
[type=checkbox], [type=radio] {
	width: 13px;
	height: 13px;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}
input::-ms-clear {
	display: none;
}
input::-ms-reveal {
	display: none;
}
p, span, a, button {
	/*letter-spacing: -0.02em;*/
}
::-webkit-input-placeholder {
	color: #b3b3b3 !important;
	font: inherit !important;
}
::-moz-placeholder {
	color: #b3b3b3 !important;
	font: inherit !important;
}
:-ms-input-placeholder {
	color: #b3b3b3 !important;
	font: inherit;
}
:-moz-placeholder {
	color: #b3b3b3 !important;
	font: inherit !important;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: auto;
	font: inherit;
}
button, input, select, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 0;
}
select::-ms-expand {
	display: none;
}
input[type=password] {
	font-family: sans-serif;
}
input[type=password]::-webkit-input-placeholder {
	font-family: NanumSquare, Arial, sans-serif !important;
}
input[type=password]::-moz-placeholder {
	font-family: NanumSquare, Arial, sans-serif !important;
}
input[type=password]:-ms-input-placeholder {
	font-family: NanumSquare, Arial, sans-serif;
}
input[type=password]:-moz-placeholder {
	font-family: NanumSquare, Arial, sans-serif !important;
}
/*::-moz-selection {*/
	/*background: #db0d36;*/
	/*color: #fff;*/
/*}*/
/*::selection {*/
	/*background: #db0d36;*/
	/*color: #fff;*/
/*}*/
/*::-webkit-scrollbar {*/
	/*-webkit-appearance: none;*/
	/*width: 8px;*/
	/*background-color: #fff;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
	/*border-radius: 4px;*/
	/*border: 2px solid #fff;*/
	/*background-color: rgba(34, 46, 64, 0.15);*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
	/*background-color: rgba(34, 46, 64, 0.3);*/
/*}*/
