@font-face {
    font-family: NanumSquare;
    font-weight: 300;
    src: url('../font/NANUMSQUAREL.woff') format('woff');
}
@font-face {
    font-family: NanumSquare;
    font-weight: normal;
    src: url('../font/NANUMSQUARER.woff') format('woff');
}
@font-face {
    font-family: NanumSquare;
    font-weight: 700;
    src: url('../font/NANUMSQUAREB.woff') format('woff');
}
@font-face {
    font-family: NanumSquare;
    font-weight: 900;
    src: url('../font/NANUMSQUAREEB.woff') format('woff');
}


